    <section class="ae-container-fluid ae-container-fluid--inner rk-portfolio animate__bounce">
        <div class="item-inside__meta">
            <h1 class="ae-u-bolder rk-portfolio-title ">Bienvenido, Andrés Barros</h1>
            <p class="ae-theta rk-portfolio-category ">Seleccione una opción:</p>
          </div>

        <div class="rk-portfolio__items">
            <a href="portfolio-item.html" class="rk-item rk-item--flex item-1 rk-size-4 rk-tosize-3 rk-square ">
                <div class="item-meta">
                    <h2>Consultar Seguros</h2>
                    <p>Branding</p>
                </div>
            </a>
            <a href="portfolio-item.html" class="rk-item rk-item--flex item-1 rk-size-4 rk-tosize-3 rk-square ">
                <div class="item-meta">
                    <h2>Essential Stationery</h2>
                    <p>Branding</p>
                </div>
            </a>
            <a href="portfolio-item.html" class="rk-item rk-item--flex item-1 rk-size-4 rk-tosize-3 rk-square ">
                <div class="item-meta">
                    <h2>Essential Stationery</h2>
                    <p>Branding</p>
                </div>
            </a> 
        </div>
    </section>
