<app-header></app-header>
<section class="ae-container-fluid rk-main">
    <!-- <app-homepage></app-homepage> -->
    <!-- <app-about></app-about> -->
    <router-outlet></router-outlet>
</section>
<app-footer></app-footer>